# clearly makes git better

[include]
  path = ~/.gitconfig-local

[alias]
	rm-merged = !git branch --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" { print $1 }' | xargs -r git branch -D

[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
  all = true

# why the hell not?

[help]
  autocorrect = prompt
[commit]
  verbose = true
[rerere]
  enabled = true
  autoupdate = true
[core]
  excludesfile = ~/.gitignore
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
  line-numbers = true
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

# a matter of taste (uncomment if you dare)

[core]
  fsmonitor = true
  untrackedCache = true
  compression = 0
[pull]
  rebase = true
	ff = only
[http]
	postBuffer = 1048576000
[pull]
	ff = only
