<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.colorye.jump-desktop</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/tan.nguyen2/.local/bin/jump-desktop</string>
        <string>--watch</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/jump-desktop.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/jump-desktop.err</string>
    <key>ProcessType</key>
    <string>Interactive</string>
</dict>
</plist>
